<% provide(:title, "Log in") %>

<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Log in</h3>
      </div>
      <div class="card-body">
        <%= form_for(:session, url: login_path) do |f| %>
          <p class="text-center">New user? <%= link_to "Sign up now!", signup_path %></p>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control js-event-form-field', data: {event_form_field_value: 'login - email'} %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control js-event-form-field', data: {event_form_field_value: 'login - password'} %>
            <small class="form-text text-muted"><%= link_to "Forgot password?", new_password_reset_path %></small>
          </div>

          <div class="form-group">
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me</span>
            <% end %>
          </div>

          <%= f.submit "Log in", class: "btn btn-primary" %>

        <% end %>

      </div>
    </div>
  </div>
</div>