<div class="card js-share-item"
     data-url="<%= post_url(post) %>"
     data-id="<%= post.id %>"
     data-date="<%= post.created_at.to_date %>"
     data-formatted-date="<%= post.created_at.strftime('%B %d, %Y') %>"
     data-author="<%= post.author %>"
     data-title="<%= post.title %> | Look At My Cat"
     data-category="<%= post.description %>"
     data-description="<%= post.description %>"
     data-image="<%= image_url(post.image) %>">

  <% if current_user&.admin? %>
    <div class="card-body text-right">

      <%= link_to destroy_post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "card-link", title: "Delete" do %>
        <%= icon('far', 'trash-alt', class: 'fa-2x text-danger') %>
      <% end %>

      <%= link_to edit_post_path(post), class: "card-link text-primary", title: "Edit" do %>
        <%= icon('far', 'edit', class: 'fa-2x') %>
      <% end %>

    </div>
  <% end %>

  <%= image_tag post.image.url, class: "card-img-top" %>


    <div class="card-body card-body-interactions">
      <div class="row">
        <% if current_user%>
          <%= render partial: 'likes/like_button', locals: {post: post} %>
        <% end %>
        <%= render partial: 'posts/share_buttons' %>
      </div>
    </div>

  <div class="card-body">
    <h5 class="card-title"><%= link_to post.title, post_url(post), data: {link_type: 'post-title'} %></h5>
    <p class="card-text"><%= post.description %></p>
  </div>
</div>